@charset "utf-8";

.header{

}
.headerWrap{
    width: 100%;
    background-color: #176FA6;
}

.headerTop{
    width: 980px;
    padding:15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
}
.formWrap{
    display: flex;
    justify-content: center;;
    align-items: center;
}
.searchForm{
    color: #333;
    position: relative;
}
p.inpTxt,.icon{
    position: absolute;
}
p.inpTxt{
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    top: calc( 50% - 8.8px);
}
.icon{
    right: 0;
    top: calc( 50% - 15px );
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.inp{
    width: 290px;
    height: 30px;
    border-radius: 15px;
    border: none;
    text-indent: 70px;
}
.inp:focus{
    outline: none;
}

.headerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerInfo p{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7px;
}
.headerInfo ul{}
.headerInfo li{
    float: left;
    margin-left: 7px;
}

.navbar{
    width: 100%;
    background-color: #F2F2F2;
}
.navlist{
    width: 980px;
    margin: 0 auto;
}
.navlist li{
    float: left;
    width: calc( 100% / 6 );
    padding: 30px 0;
    text-align: center;
}
.navlist li a{
    color: #176FA6;
    font-size: 16px;
    font-weight: 700;
}
.navlist li:hover{
    background-color: #80ADBF;
}
.navlist li:hover a{
    color: #fff;
}

/* section */
.section{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec{
    width: 980px;
    padding: 60px 2px;
    margin: 0 auto;
}
.sec>ul>li,
.subCon01 li,
.subCon02 li,
.subCon03 li{
    float: left;
    width: 232px;
    height: 240px;
}

.sec>ul>li:nth-child(1),
.sec>ul>li:nth-child(2){
    float: left;
    margin-bottom: 16px;
}

.sec>ul>li:nth-child(1){
    /* display: block; */
    display: flex;
    align-items: center;
    margin-right: 16px;
    width: 480px;
    height: 556px;
}
.secForm{
    width: 480px;
    height: 300px;
    background-color: #ff0;
    margin-bottom: 16px;
}

















.subCon01>ul>li{
    float: left;
    background-color: #f00;
    margin-right: 16px;
}
.subCon01 li:nth-child(2){
    margin-right: 0;
}
.sec>ul>li:nth-child(2){
    width: 480px;
    height: 556px;
    margin-right: 0;
    background-color: #0ff;
}
.subCon02>ul>li{
    /* background-color: #f00; */
    margin-right: 16px;
    margin-bottom: 16px;
}
.subCon02 li:nth-child(4){
    margin-right: 0;
}

.subCon03 li{
    /* background-color: #f00; */
    margin-right: 16px;
}

.subCon03 li:nth-child(4){
    margin-right: 0;
}

.swiper-slide img{
    
}




.secForm,
.conTxt,
.subCon01 li,
.subCon02 li,
.subCon03 li{
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.subCon01 li:hover .overlay,
.subCon02 li:hover .overlay,
.subCon03 li:hover .overlay{
    bottom: 0;
    
}
.overlay{
    width: 100%;
    height: 100%;
    /* left: 0; */
    bottom: -150px;
    background-color: #F2F2F2;
    opacity: 0.6;
    position: absolute;
    z-index: 10;
    transition: 0.3s;
    padding: 10px 10px;
}
.overlay p{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 7px;
}


.subCon01 li:nth-child(1){background-image: url(../images/japan.jpg);}
.subCon01 li:nth-child(2){background-image: url(../images/danang.jpg);}

.subCon02 li:nth-child(3){background-image: url(../images/03여행05.jpg);}
.subCon02 li:nth-child(4){background-image: url(../images/03여행06.jpg);}

.subCon03 li:nth-child(1){background-image: url(../images/03여행07.jpg);}
.subCon03 li:nth-child(2){background-image: url(../images/03여행08.jpg);}
.subCon03 li:nth-child(3){background-image: url(../images/03여행09.jpg);}
.subCon03 li:nth-child(4){background-image: url(../images/03여행10.jpg);}



