@charset "utf-8";

.header{}
.header_top_wrap{background-color: #E9AC37;}
.header_top{width: 1200px;margin: 0 auto;}
.college_menu{float: left;}
.college_menu li{float: left;width: 120px;background-color: #C7A25B;margin-right: 2px;}
.college_menu li a{color: #fff;display: block;text-align: center;line-height: 40px;}

.college_menu li:hover{background-color: #fff;}
.college_menu li:hover a{color: #000;}

.college_menu li .active{background-color: #c7a25b;}
.college_menu li .active a{color: #000;}

/* hover a에 글자 색을 넣어야 색이 바뀜 */

.util_menu{float: right;}
.util_menu li{float: left;}
.util_menu li>a{
    color: #fff;display: block;padding: 0 10px;height: 40px;
    display: flex;justify-content: center;align-items: center;
}

.util_menu li:nth-child(2){padding-top: 10px;}
.util_menu li:nth-child(2) a{
    width: 20px;height: 20px;background-color: #fff;color: #000;
    float: left;margin-right: 1px;
}

.title{width: 100%;background-color: #fff;}
.title_wrap{width: 1200px;margin: 0 auto;padding: 36px 0;}
.logo{float: left;}
.logo h1{width: 252px;height: 64px;}
.menu_wrap{float: right;}

.menu li{float: left;}
.menu li a{
    display: block;margin-right: 10px;
    display: flex;justify-content: center;align-items: center;
}
.menu li:nth-child(6){width: 45px;height: 45px;background-color: pink;}

/* section */
#section{
    padding: 70px 0 ;
    height: 1300px;
    background-image: url(../images/dots.png),url(../images/background.png);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
}

#section .sec01{height: 140px;margin-bottom: 40px;width: 1500px;margin: 0 auto;}
.txt{float: left;}
.txt h2 b{font-size: 52px;font-weight: 500;}
.icon_menu{float: right;padding: 15px 0;}
.icon_menu li{float: left;margin-left: 20px;}
.icon_menu li p{color: #C7A25B;}

#section .sec02{}
.slide1 li{position: relative;}
.txt_wrap{
    position: absolute;right: 50px;top: 50px;

}
.slide_list h2{margin-bottom: 14px;}
.slide_list a{
    background-color: #c7a25b;color: #fff;padding: 12px 30px;
}
.slide_list{height: 450px !important;position: relative;}

.sec02 .moblie_app{
    display: flex;justify-content: center;align-items: center;
}
.txt_con1{
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;color: #fff;
}
.txt_con1 h3{
    font-size: 42px;font-weight: 300;
    margin-bottom: 14px;;
}
.txt_con1 h3 b{}
.txt_con1 p{margin-bottom: 14px;}
.txt_con1 a{
    border: 1px solid #fff;
    color: #fff;padding: 12px 30px;
}

.hot_link{color: #fff;padding: 20px;}
.hot_link>p{font-size: 24px;font-weight: 700;margin-bottom: 20px;}
.hot_link ul{display: flex;justify-content: center;}
.hot_link ul li{
    float: left;

}
.hot_link ul li img{padding: 0 10px 14px;}
.hot_link ul li p{font-size: 14px;text-align: center;}

.notice{color: #fff;padding: 20px;}
.notice>p{font-size: 24px;font-weight: 700;}
.notice_list{}
.notice_list ul{}
.notice_list li{}
.notice_list li p{font-size: 14px}
.notice_list li span{}

.news{color: #fff;padding: 20px;}
.news>p{font-size: 24px;font-weight: 700;margin-bottom: 20px;}
.news_wrap{
    display: flex;justify-content: space-between;
}
.news_wrap img{display: inline-block;}
.news_sns{float: right;}
.news_sns p{font-size: 14px;margin-bottom: 20px;}

.tour{
    width: 100%;height: 50px;position: absolute; bottom: 0;
    background-color: #e9ac36;opacity: 0.7;
    display: flex;justify-content: center;align-items: center;
}
.tour a{opacity: 1;color: #fff;}




/* 안쪽에 ul li 테크를 다시 사용하기 때문에 >를 반드시 써주자 */
#section .sec01.container{width: 1200px;}
#section .sec02>ul>li{float: left;width: 300px;height: 225px;}
#section .sec02>ul>li:nth-child(1){width: 900px;height: 450px;}
#section .sec02>ul>li:nth-child(2){height: 450px;}
#section .sec02>ul>li:nth-child(3){background-color: #c7a25b;}
#section .sec02>ul>li:nth-child(4){background-color: #e9ac36;}
#section .sec02>ul>li:nth-child(5){background-color: #c7a25b;}
#section .sec02>ul>li:nth-child(6){position: relative;}
#section .sec02>ul>li:nth-child(7){}
#section .sec02>ul>li:nth-child(8){width: 900px;height: 450px;}


/* common */
h2{font-size: 62px;font-weight: 700;color: #e9ac36;}
.container{width: 1200px;margin: 0 auto;}




.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none ;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 10px;
    width: 100%;
}