@charset "utf-8";

.header{}
.header_top_wrap{background-color: #E9AC37;}
.header_top{width: 1200px;margin: 0 auto;}
.college_menu{float: left;}
.college_menu li{float: left;width: 120px;background-color: #C7A25B;margin-right: 2px;}
.college_menu li a{color: #fff;display: block;text-align: center;line-height: 40px;}

.college_menu li:hover{background-color: #fff;}
.college_menu li:hover a{color: #000;}

.college_menu li .active{background-color: #c7a25b;}
.college_menu li .active a{color: #000;}

/* hover a에 글자 색을 넣어야 색이 바뀜 */

.util_menu{float: right;}
.util_menu li{float: left;}
.util_menu li>a{
    color: #fff;display: block;padding: 0 10px;height: 40px;
    display: flex;justify-content: center;align-items: center;
}

.util_menu li:nth-child(2){padding-top: 10px;}
.util_menu li:nth-child(2) a{
    width: 20px;height: 20px;background-color: #fff;color: #000;
    float: left;margin-right: 1px;
}

.title{width: 100%;background-color: #fff;}
.title_wrap{width: 1200px;margin: 0 auto;padding: 36px 0;}
.logo{float: left;}
.logo h1{width: 252px;height: 64px;}
.menu_wrap{float: right;}
.menu{}
.menu ul{}
.menu li{float: left;}
.menu li a{
    display: block;margin-right: 10px;
    display: flex;justify-content: center;align-items: center;
}
.menu li:nth-child(6){width: 45px;height: 45px;background-color: pink;}

/* section */
#section{
    padding: 70px 0 ;
    height: 1300px;
    background-image: url(../images/dots.png),url(../images/background.png);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
}

#section .sec01{height: 140px;margin-bottom: 40px;width: 1500px;margin: 0 auto;}
.txt{float: left;}
.txt h2 b{font-size: 52px;font-weight: 500;}
.icon_menu{float: right;padding: 15px 0;}
.icon_menu li{float: left;margin-left: 20px;}
.icon_menu li img{}
.icon_menu li p{color: #C7A25B;}



/* 안쪽에 ul li 테크를 다시 사용하기 때문에 >를 반드시 써주자 */
#section .sec01.container{width: 1200px;}
#section .sec02>ul>li{float: left;width: 300px;height: 225px;}
#section .sec02>ul>li:nth-child(1){
    width: 900px;height: 450px;background-image: url(../images/content01.png);
}
#section .sec02>ul>li:nth-child(2){height: 450px;}
#section .sec02>ul>li:nth-child(3){}
#section .sec02>ul>li:nth-child(4){}
#section .sec02>ul>li:nth-child(5){}
#section .sec02>ul>li:nth-child(6){}
#section .sec02>ul>li:nth-child(7){}
#section .sec02>ul>li:nth-child(8){width: 900px;height: 450px;}


/* common */
h2{font-size: 72px;font-weight: 700;color: #e9ac36;}
.container{width: 1200px;margin: 0 auto;}
