@charset "utf-8";
/********** css responsive init  **********/
body{font-family: 'Gowun Dodum', sans-serif;}
.container{
    width: 1240px;
    margin: 0 auto
}

/* header  */
#header{
    position:fixed;
    width: 100%;
    z-index: 100;
}
.navbarWrap{
    display: flex;
    justify-content: space-between;
    padding:20px 0 0 0
}
.navList{
    display: flex;
    flex-direction: row;
}
.navList h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.navbar{
    margin-left: auto;
}
.navbar>ul{
    display: flex;
    height: 100%;
}
.navbar>ul>li{
    position: relative;
}
.navbar>ul>li>a{
    color: #fff;
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
}

.navbar>ul>li .submenu{
    background-color: #fff;
    position: absolute;
    top:60px;
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-radius:0 0 8px 8px;
    transform:translateY(20px);
    /* transition: 0.3s; */
    opacity:0;
    visibility: hidden;
}
.submenu li{
    display: block;
    line-height: 30px;
    text-align: center;
}
.navbar>ul>li.on .submenu{
    transform:translateY(0px);
    opacity: 1;
    visibility: visible;
}

.fncList,
.fncIcon,
.fncUtil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fncIcon>li{
    padding: 20px 10px;
}
.fncIcon li img{
    width: 28px;
    height: 28px;
}
.fncUtil>li{
    padding: 20px 10px;
}
.fncUtil>li>a{
    color: #fff;
    font-weight: 700;
}

.toggle{
    width:40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}
.toggle div{
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
}
.black{
    display: none;
}

.fncUtil{
    display: flex;
    height: 100%;
    position: relative;
}
.fncUtil>li .utilDep{
    background-color: #fff;
    position: absolute;
    top:60px;
    padding: 10px 10px 20px 10px;
    border-radius:0 0 8px 8px;
    transform:translateY(20px);
    transition: 0.2s;
    opacity:0;
    visibility: hidden;
}
.fncUtil>li .utilDep.uL{
    left: 0;
}
.fncUtil>li .utilDep.uR{
    right: 0;
    width: 50%;
}

.fncUtil>li.on .utilDep{
    transform:translateY(0px);
    opacity: 1;
    visibility: visible;
}
.utilDep li{
    display: block;
    line-height: 30px;
    text-align: center;
}
.utilDep>li>a{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.close,
.adImg,
.mJoin,
.mo_Vimg,
.navbarClone,
.overlay{
    display: none;
}

.mMenu{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 18px;
}
.mTop{
    display: none;
}
.login_btn{
    width: 10px;
    height: 18px;
    margin-left: 16px;
}



/* visual   */
.visualWrap{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.txtWrapV{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 280px;
    transform: translateX(-50%);
}
.btnV{
    width: 150px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnV:hover{
    background-color: #666;
}
.btnV:hover a{
    color: #fff;
}

/* section */
.contents{
    margin-top: -310px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 100px;
}

.contents ul{
    z-index: 1;
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    justify-content: center;
}
.contents ul li{
    /* display: flex; */
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.conLeft,
.conRight{
    display: flex;
    flex-direction: column;
}

.conLeft{
    order:1
}
.conLeft li{
    height: 620px;
}
.conLeft li:nth-child(1){
    position: relative;
    padding: 60px;
}
.conLeft li p{
    position: absolute;
    bottom: 150px;
}
.conLeft li .price{
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price>span{
    margin-right: 10px;
}
.price .emp{
    width: 60px;
    height: 60px;
    background: #FD5C5C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conRight{
    order: 2;
}
.conRight li{
    height: 310px;
}
.conRight li .free{
    padding: 5px 10px;
    border-radius: 20px;
    background: #8DAB70;
}

.conRight li:nth-child(1),
.conRight li:nth-child(2){
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0 60px;
    flex-direction: column;
}
.conRight li:nth-child(3),
.conRight li:nth-child(4){
    padding: 60px;
    cursor: pointer;
    position: relative;
}
.conRight li:nth-child(3) .txtWrap,
.conRight li:nth-child(4) .txtWrap{
    position: absolute;
    bottom: 30px;
}
.conRight li:nth-child(3) .txtWrap>p,
.conRight li:nth-child(4) .txtWrap>p{
    margin-bottom: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.contentTeahouse{
    margin: 0 auto;
}
.contentTeahouse>div{
    max-width: 1524px;
    height: 619px;
    margin: 40px auto 0;
    background-size: cover;
    background: no-repeat center top;
    position: relative;
    margin-bottom: 100px;
}

.desc_aImg,
.desc_bImg,
.desc_cImg,
.desc_dImg,
.desc_eImg,
.desc_fImg,
.desc1_1_Img,
.desc1_2_Img,
.desc1_3_Img,
.desc1_4_Img,
.desc2_1_Img,
.desc2_2_Img,
.desc4_1_Img,
.desc5_1_Img,
.desc5_2_Img,
.desc7_1_Img,
.desc_off_Img,
.desc_on_Img,
.desc_icon_Img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.desc_aImg:hover,
.desc_bImg:hover,
.desc_cImg:hover,
.desc_dImg:hover,
.desc_eImg:hover,
.desc_fImg:hover{
    animation-name: flag;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    /* animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: flag; */
}

@keyframes flag {
    0%{transform: translateX(10px) translateX(-50%);}
    100%{transform: translateX(-10px) translateX(-50%);}
}

.desc5_1_Img:hover,
.desc1_3_Img:hover,
.desc1_4_Img:hover{
    animation: cup 0.5s cubic-bezier(0.46, 0.46, 1, 1) infinite alternate;
}
@keyframes cup {
    0%{transform: rotate(0) translateX(-50%);}
    100%{transform: rotate(15deg) translateX(-50%);}
}
.desc2_1_Img,
.desc2_2_Img,
.desc7_1_Img{
    animation: moving 3s cubic-bezier(0.46, 0.46, 1, 1) infinite alternate;
}
@keyframes moving {
    0%{transform: translateX(-15px) translateX(-50%);}
    100%{transform: translateX(15px) translateX(-50%);}
}

.desc_off_Img:hover{
    opacity: 0;
}
.desc_on_Img:hover{
    opacity: 1;
}

/* desc img poa */
.desc_aImg{
    top: 92%;
    margin-left: 28%;
}
.desc_bImg{
    top: 52%;
    margin-left: -19%;
}
.desc_cImg{
    top: 52%;
    margin-left: 24%;
}
.desc_dImg{
    top: 30%;
    margin-left: -19%;
}
.desc_eImg{
    top: 27%;
    margin-left: 24%;
}
.desc_fImg{
    top: 71%;
    margin-left: 9%;
}

/* desc char */
.desc1_1_Img{
    top: 35.9%;
    margin-left: -17.8%;
}
.desc1_2_Img{
    top: 34.7%;
    margin-left: -14%;
}
.desc1_3_Img{
    top: 36.8%;
    margin-left: -16.3%;
}
.desc1_4_Img{
    top: 36.5%;
    margin-left: -15.3%;
}
.desc2_1_Img{
    top: 58.9%;
    margin-left: -8%;
}
.desc2_2_Img{
    top: 64.1%;
    margin-left: -10%;
}
.desc4_1_Img{
    top: 33.9%;
    margin-left: 19.2%;
}
.desc5_1_Img{
    top: 60.6%;
    margin-left: 31.1%;
}
.desc5_2_Img{
    top: 65%;
    margin-left: 30.9%;
}
.desc7_1_Img{
    top: 82.5%;
    margin-left: 23%;
}
.desc_off_Img{
    top: 46.8%;
    margin-left: 4%;
}
.desc_on_Img{
    top: 46.8%;
    margin-left: 4%;
    opacity: 0;
}
.desc_icon_Img{
    top: 40.6%;
    margin-left: 5%;
}

/* notice */
.noticeWrap{
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.notice{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.notice>li{
    width: calc( 100% / 2 );
    height: 610px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.noticeIcetea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px ;
}
.notice>li>ul>li{
    height: 305px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.noticeTxt{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 30px;
}
.noticeTxt>h3{
    margin-bottom: 10px;
}
.noticeInfo{
    display: flex;
    flex-direction: row;
}
.noticeInfo li:nth-child(1){
    margin-right: 70px;
    position: relative;
}
.noticeInfo li:nth-child(1):after{
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background: #999;
    position: absolute;
    top: 0px;
    right: -30px;
}

/* subscribe */
.subscribeWrap{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.subscribe{
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* width: 1240px; */
}
.subscribe li{
    display: flex;
    width: 620px;
    height: 310px;
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
.footerTop{
    width: 100%;
    height: 60px;
    background-color: #67625D;
}
.footer{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.f_logo{
    margin-right: 40px;
}
.infoWrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: auto;
}
.infoTxt{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.infoTxt li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.infoTxt li:after{
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #999;
    position: absolute;
    right: -10px;
    top: 3px;
}
.infoTxt li:last-child:after{
    display: none;
}
.infoTxt li a{
    color: #999;
}
.footerFnc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footerFnc li a{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #787878;
}
.footerFnc li a img{
    margin-bottom: 10px;
}
.copyright{
    line-height: 24px;
}
.footerFnc li:last-child{
    margin-right: 0;
}

/* sub01 */



/* sub02 */
.bannerMain.sub{
    width: 100%;
    height: 570px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bannerTxtWrap{
    position: absolute;
    left: 224px;
    top: 114px
}

.bannerTxtWrap img{
    margin-bottom: 40px;
}
.bannerTxtWrap h1{
    font-weight: 500;
    margin-bottom: 80px;
    font-size: 44px;
}
.bannerTxtWrap{
    font-size: 24px;
}
.contentWrap.sub{
    width: 1240px;
    margin: 0 auto;
    /* margin-top: -170px; */
    /* display: flex; */
}
.tab.sub{
    width: 1000px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}
.tab.mo{
    display: none;
}
.tab.sub>li{
    width: calc( 100% / 2 );
    background-color: #E5E2DB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab.sub>li:nth-child(1){
    border-right: 1px solid #666;
}
.tab.sub>li:active{
    background-color: #fff;
    color: #000;
}

.content.sub{
    position: relative;
}
.dadaTextWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dadaTextWrap p{
    margin-bottom: 100px;
    font-size: 32px;
}
.dadaText{
    text-align: center;
}
.dadaText h2{
    font-size: 44px;
    color: #333;
    font-weight: 500;
    margin-bottom: 50px;
}
.dadaText p{
    font-size: 18px;
}

.dadaPoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sub03 */
.bannerMain.sub03{
    width: 100%;
    height: 570px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab.sub03{
    width: 1000px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}
.tab.sub03>li{
    width: calc( 100% / 2 );
    background-color: #82664F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab.sub03>li:nth-child(1){
    border-right: 1px solid #fff;
}
.tab.sub03>li:active{
    background-color: #fff;
    color: #000;
}
.conSub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.history{
    width: 100%;
    height: 1240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.historySlideWrap{
    width: 1000px;
    height: 1240px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slideWrap.sub03{
    width: 9000px;
    display: flex;
    position: absolute;
    left:0px;
    top: 450px;
    /* transition: 0.3s; */
}
/* sub04 */
.bannerMain.sub04{
    width: 100%;
    height: 570px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventWrap{
    display: flex;
    flex-wrap: wrap;
}


.swiper_btn_next {
    position: absolute;
    top: 420px;
    right: 235px;
    z-index: 3;
}
.swiper_btn_prev {
    position: absolute;
    top: 420px;
    left: 235px;
    z-index: 3;
}
.swiper-horizontal>.swiper-pagination-progressbar{
    width: 300px;
    height: 2px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
}
:root {
    --swiper-theme-color: #333;
}

/* locate */
.locate{
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* common */
.ml10px{margin-left: 10px;}
.mr10px{margin-right: 10px;}
.mb40px{margin-bottom: 40px;}
.mb100px{margin-bottom: 100px;}
.mb180px{margin-bottom: 180px;}
.color333{color: #333;}
.color666{color: #666;}
.color999{color: #999;}
.colorfff{color: #fff;}
.color8DAB70{color: #8DAB70;}
.colorFA9146{color: #FA9146;}
.colorB75300{color: #B75300;}
.f50{font-size: 50px;}
.f36{font-size: 36px;}
.f30{font-size: 30px;}
.f24{font-size: 24px;}
.f14{font-size: 14px;}
.fw700{font-weight: 700;}
.fontsNotoS{font-family: 'Noto Sans KR', sans-serif;}
.flex_jcc_aic{display: flex;justify-content: center;align-items: center;}
/********** css responsive  **********/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .container{width: 100%;}
}

@media (max-width: 991px) {
    .navbar>ul>li>a{padding: 20px 15px;}
    
}

@media (max-width: 767px) {
    #header{
        width: 100vw;
        position: fixed;
    }
    .container{
        width: 100%;
    }
    .navbar{display: none;}
    .fncUtil{display: none;}
    .navbarWrap{
        padding: 10px 20px;
    }
    .toggle{display: flex;margin-left: auto;}
    .submenu{
        display: none;
    }
    .navbarClone{
        position: fixed;
        background-color: #fff;
        width:100%;
        height: 100%;
        top: 0;left: -100%;
        display: block;
        transition:0.5s
    }

    li.mTop {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .mMenu li{
        margin-bottom: 20px;
    }
    .mMenu li:after{
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background:#666;
        margin: 15px 0;
    }
    .mMenu li:nth-child(1):after,
    .mMenu li:nth-child(2):after{
        display: none;
    }

    .mJoin{
        display: flex;
        padding: 80px 120px 40px 120px;
        background-color: #F6F6F6;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .mJoin a{
        font-size: 14px;
        padding: 4px 6px;
        border: 1px solid #4444;
        border-radius: 4px;
    }
    .adImg{
        display: block;
        margin-top: 20px;
    }

    .overlay{
        display: none;
        position: fixed;
        width: 100%;height: 100%;
        left: 0;top: 0;
        background-color: #999;
        opacity: 0.5;
    }
    .close{
        display: block;
        z-index: 1000;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .black.btnTb{
        display: none;
    }
    .white.btnTw{
        display: block;
    }

    .visualWrap{
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .pc_Vimg{
        display: none;
    }
    .mo_Vimg{
        display: block;
        width: 100%;
        height: 100%;
    }
    .txtWrapV{
        padding: 0 0 0 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 360px;
        transform: translateX(-50%);
    }
    .txtWrapV h2{
        margin-bottom: 20px;        
    }
    .txtWrapV .btnV{
        display: none;
    }
    #section{
        margin: 0 auto;
    }
    .contents{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        flex-grow: 1;
    }
    .contents ul{
        flex-grow: 1;
        flex-basis: auto;
    }
    .contents ul li{
        background-size: contain;
    }
    .conLeft li {
        height: 390px;
    }
    .conRight li {
        height: 195px;
    }

    .contentTeahouse{
        display: none;
    }

    .conRight li:nth-child(3), .conRight li:nth-child(4) {
        padding: 0;
    }
/* notice */
    .noticeTxt>p{
        display: none;
    }
    .noticeTxt>h3{
        font-size: 20px;
        line-height: 40px;
    }

    .noticeWrap{
        width: 100%;
    }
    .notice>li{
        width: 100%;
    }
    .noticeIcetea p{
        font-size: 31px;
    }
    .noticeIcetea b{
        font-size: 45px;
        
    }
    .noticeWrap {
        margin-bottom: 0px;
    }

/* subscribe */
    .subscribeWrap{
        width: 100%;
    }
    .subscribe{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    /* sub02 */
    .bannerMain.sub{
        height: 100%;
    }
    .bannerTxtWrap{
        left: 50px;
        top: 320px;
        
    }
    .bannerTxtWrap h1,.bannerTxtWrap p{
        display: none;
    }
    .dadaTextWrap{
        display: none;
    }
    .tab.sub{
        display: none !important;
    }
    .tab.mo{
        display: block;
    }
    .locate{
        display: none;
    }
    .tab.mo.mb40px{
        margin-bottom: 0 !important;
    }
    .tab.mo li{
        width: 100%;
        height: 50px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 0 10px;
        position: relative;
    }
    .tab.mo li i{
        position: absolute;
        right: 20px;
    }
    .tab.mo li:nth-child(1){
        border-bottom: 1px solid #666;
    }
    .contentWrap.sub{
        width: 100%;
        margin: 0 auto;
    }
    .tab.sub{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 10px;
    }
    .dadaPro img{
        width: 100%;
    }
    .footer>img,
    .copyright{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 18px;

    }
    .infoTxt{
        margin-right: 10px;
    }
    .infoTxt li{
        margin-right: 9px;
        font-size: 10px;
    }
    .infoTxt li:after{
        right: -6px;
        height: 10px;
        top: 4px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }

    .footerFnc li a{
        margin-right: 32px;
    }
    
    .swiper_btn_next,.swiper_btn_prev {
        display: none;
    }
    .conRight li:nth-child(3) .txtWrap,.conRight li:nth-child(4) .txtWrap{
        text-align: center;
        color: #333;
        margin-left: 40px;
        text-shadow: 1px 1px 1px #fff;
        /* position: absolute; */

    }
    .conRight li .free {
        text-shadow: none;
    }
    .f30{font-size: 24px;}
    .f24{font-size: 18px;}

    .price .emp {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .conLeft li:nth-child(1){
        padding: 40px;
    }
    .conLeft li:nth-child(1) h3{
        text-align: center;
    }
    .conLeft li .price {
        /* left: 103px;
        bottom: 28px; */
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .conLeft li .price:after{
        content: "";
        width: 50px;
        height: 1px;
        background: #666;
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
    }
    .conLeft li p {
        /* bottom: 93px;
        left: 127px; */
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    /* sub03 */
    .brand{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .brand img{
        width: 100%;
    }
    .history {
        height: 700px;
    }
    .historySlideWrap{
        width: 100%;
        overflow: hidden;
        height: 550px;
    }
    
    .slideWrap.sub03{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 300px;
    }
    .slideWrap.sub03 div img{
        width: 50vw;
    }

    /* sub04 */
    .eventWrap img{
        width: 100%;
    }
}

@media (max-width: 575px) {

}