@charset "utf-8";


.header_top_wrap{border-bottom: 1px solid #dcdcdc;margin-bottom: 16px;}
.header_top{width: 980px;margin: 0 auto;}
.top_menu ul{float: right;}
.top_menu li{float: left;position: relative;}
.top_menu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.top_menu li:last-child:after{display: none;}
.top_menu li a{display:block;padding: 7px 10px;font-size: 12px;line-height: 12px;}
#header_wrap h1{width:151px;;margin: 0 auto;margin-bottom: 16px;}
#header_wrap h1 a{color: #333;}
#header_wrap .toggle{
    width: 48px;height: 48px;border: 1px solid #cdcdcd;position:absolute;left: calc( 50% + ( 980px / 2 ) - 48px ); top: 38px;
    cursor: pointer;
}

.toggle div{
    width: 20px;height: 2px;background-color: #666;
    position: absolute;left: calc( 50% - 10px );top: calc( 50% - 1px );
}
.toggle div:first-child{top: calc( 50% - 9px );}
.toggle div:last-child{top: calc( 50% + 7px );}

.navbar_wrap{background-color: #1D5DA4;}
.navbar{width: 980px;margin: 0 auto;}
.navbar li{
    float: left;width:16.5% ;
    border-right: 1px solid #336DAC;
}
.navbar li:first-child{border-left: 1px solid #336DAC;}
.navbar li a{
    display: block;color: #fff;text-align: center;line-height:45px
}

@media screen and (max-width:720px){
    .header_top_wrap{display: none;}
    .toggle{right: 16px;top: 16px;}
    .topmenu_wrap{display: none;}
    .navbar_wrap{display: none;}

    .visual_wrap .visual{width: 100%;}
    .visual_wrap .visual .txt{left: 16px; top: 30px;}
    .visual_wrap .visual h3{font-size: 50px;line-height: 60px;}
    .visual_wrap .visual img{width: 350px;bottom:-50px;right: -40px;}
}
