@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}


.header_top_wrap{border-bottom: 1px solid #dcdcdc;margin-bottom: 16px;}
.header_top{width: 980px;margin: 0 auto;}
.top_menu ul{float: right;}
.top_menu li{float: left;position: relative;}
.top_menu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.top_menu li:last-child:after{display: none;}
.top_menu li a{display:block;padding: 7px 10px;font-size: 12px;line-height: 12px;}
#header_wrap h1{width:151px;;margin: 0 auto;margin-bottom: 16px;}
#header_wrap h1 a{color: #333;}
#header_wrap .toggle{
    width: 48px;height: 48px;border: 1px solid #cdcdcd;position:absolute;left: calc( 50% + ( 980px / 2 ) - 48px ); top: 38px;
    cursor: pointer;
}

.toggle div{
    width: 20px;height: 2px;background-color: #666;
    position: absolute;left: calc( 50% - 10px );top: calc( 50% - 1px );
}
.toggle div:first-child{top: calc( 50% - 9px );}
.toggle div:last-child{top: calc( 50% + 7px );}

.navbar_wrap{background-color: #1D5DA4;}
.navbar{width: 980px;margin: 0 auto;}
.navbar li{
    float: left;width:16.5% ;
    border-right: 1px solid #336DAC;
}
.navbar li:first-child{border-left: 1px solid #336DAC;}
.navbar li a{
    display: block;color: #fff;text-align: center;line-height:45px
}

/* visual */
.visual_wrap{
    background-image: url(../images/main_bg01.jpg);
    background-repeat: no-repeat;background-position: center;
    /* background:#213C68 url(../images/main_bg01.jpg) no-repeat center ; 축약형*/
}
.visual_wrap .visual{
    width: 980px;height: 400px;margin: 0 auto;position: relative;overflow: hidden;
}

.visual_wrap .visual .txt01_wrap{position: absolute;top: 100px;color: #eff0ee}
.visual_wrap .visual h2{
    font-size: 76.6px;line-height:80px;
    letter-spacing: 0.34em;margin-bottom: 10px;
}
.visual_wrap .visual img{position: absolute;right: 0;}

/* section */
.section_wrap{background-color: #EEEEEE;width: 100%;margin-bottom: 50px;}
.section{width: 980px;margin: 0 auto;}
.section_icon{float: left;width: 20%;padding: 20px 0;}
.section_icon ul{color: #fff;text-align: center;}
.section_icon li{text-align: center;}
.section_icon li img{margin: 0 auto;margin-bottom: 14px;}
.section_icon li h3{
    display:block;font-size: 18px;margin-bottom: 14px;letter-spacing: -5.5%;line-height: 19px;
}
.section_icon li p{
    font-size: 14px;margin-bottom: 9px;letter-spacing: -7.5%;line-height: 16px
}

.section_wrap .section div:nth-child(1){background: #7C99B9;}
.section_wrap .section div:nth-child(2){background: #4F74A1;}
.section_wrap .section div:nth-child(3){background: #4B8CE0;}
.section_wrap .section div:nth-child(4){background: #3DB5F2;}
.section_wrap .section div:nth-child(5){background: #95C8FF;}


.container{width: 980px;margin: 0 auto}
.container.sec01{margin-bottom: 25px;}
.container.sec01 li{width: calc( ( 100% - 50px ) / 3 );margin-right: 25px;float: left;}

.container.sec01 li:last-child,
.container.sec02 li:last-child{margin-right: 0;}

.container.sec01 li img{width: 100%;}
.container.sec01 li .txt{
    padding:20px 16px;border: 1px solid #E1E1E1;
    border-top: 0 none;
    color:#414141;
}
.container.sec01 li .txt h3{
    font-size: 19px;line-height: 19px; letter-spacing: -7.5%;
    margin-bottom: 10px;
}
.container.sec01 li .txt p{
    font-size: 14px;line-height: 20px; letter-spacing: -5.5%;
}

.container.sec02{margin-bottom: 25px;}
.container.sec02 img{position: absolute;right: -20px;top: 10px;}
.container.sec02 li{
    border: 1px solid #E1E1E1;
    padding: 20px 16px;position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 140px 5px;
}
.container.sec02 li{width: calc( ( 100% - 50px ) / 3 - 34px );margin-right: 25px;float: left;}


.container.sec02 .txt{width: 140px;position: relative;}
.container.sec02 .txt h3{margin-bottom:15px;}
.container.sec02 .txt p{margin-bottom: 10px;}
.container.sec02 .txt .btn{color:#4D8BE0;font-weight: bold;}



/* 
.content_wrap.sec01>.content,
.content_wrap.sec02>.content{
    width: 980px;margin: 0 auto; margin-bottom: 14px;
}
.content_wrap.sec01 .content_icon{
    width: calc( (100% - 50px) / 3 ); margin-right: 25px; float: left;margin-bottom: 50px;
}
.content_wrap.sec01 .content_icon:last-child,
.content_wrap.sec02 .content_icon:last-child{
    margin-right: 0;
}
.content_wrap.sec01 .txt02_wrap{
    border: 1px solid #ddd;border-top: none;
    padding: 13px 20px 18px;color: #414141;
}
.content_wrap.sec01.txt02_wrap h3{font-size: 17px;letter-spacing: -7.5%;line-height: 20px;}
.content_wrap.sec01.txt02_wrap p{font-size: 12px;letter-spacing: -5.5%;line-height: 20px;}


.content_wrap.sec02 img{position: absolute;right: -20px;top: 10px;}
.content_wrap.sec02 .content_icon{
    border: 1px solid #E1E1E1;
    padding: 20px 16px;position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 140px 5px;
}
.content_wrap.sec02 .content_icon{width: calc( (100% - 50px) / 3 - 34px ); margin-right: 25px; float: left;}
.content_wrap.sec02 .txt02_wrap{width: 140px;position: relative;}
.content_wrap.sec02 .txt02_wrap h3{margin-bottom:15px;}
.content_wrap.sec02 .txt02_wrap p{margin-bottom: 10px;}
.content_wrap.sec02 .txt02_wrap .btn{color:#4D8BE0;font-weight: bold;} */

/* footer */
.footer_wrap{background-color: #5e5e5e;}
.footer_top{background-color: #4d4d4d;}
.container.footer .ftnav{float: left;}
.container.footer .top_move{float: right;width:60px;height: 45px;}
.ftnav li{float: left;position: relative;}
.ftnav li:after{
    content:"";display: block;width: 1px;height: 12px;background-color: #ccc;
    position: absolute;right: 0;top: 17px;
}
.ftnav li:first-child:after{display: none;}
.ftnav li:first-child a{padding-left: 0;}

.container.footer .topMove a{display: block;line-height: 45px;padding-top: 11px;}
.container.footer .topMove img{margin: 0 auto;}

.ftnav li a{display: block;padding: 16px 18px; font-size: 12px;color: #ccc;line-height:12px;}

.container.ftbottom{padding: 20px 0;}
.container.ftbottom div{float: left;font-size: 12px;color: #ccc;}
.container.ftbottom .logo{}

